<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>WorkspacePath</key>
	<string>/Users/mikerobe/Documents/Local/Dropbox/Documents/all/_+Documents/_Projects/news/News.xcodeproj</string>
</dict>
</plist>
